@import url("https://fonts.googleapis.com/css2?family=B612+Mono:wght@700&display=swap");
@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&display=swap");

.cursive {
  font-family: "B612 Mono";
  font-weight: 700;
}
.description{
  font-family: "B612 Mono";
  font-weight: 700;
  color:#7bd3ff;
  font-size: 25px;

}
.email{
  font-family: "B612 Mono";
  font-weight: 700;
  color:#ffb246;
  font-size: 1.6em;
  text-decoration: none;
}
.bottomHeader{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.TODO{
  font-family: "B612 Mono";
  font-weight: 400;
  font-size: 50px;
}
.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 1px;
}

.home-name {
  font-size: 150px;
}

.img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1px;
  width: 50px;
}
.navBarHeader {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headerImg {
  height: 25%;
  /* border-width: 1px;
  border-color: aqua; */
  width: 25%;
}

.gifProject {
  width: 420px;
  height: auto;
  display: block;
  padding: 2em;
  overflow: hidden;
}
.me {
  max-width: 100%;
  height: auto;
  width: 20%;
  display: block;
 
}
.gifProject {
  transition: transform 0.5s ease;
}

.gifProject:hover {
  transform: scale(1.1);
}

.artShowcase {
  max-width: 100%;
  height: auto;
  width: auto\4;
  display: block;
  padding: 2em;
  overflow: hidden;
}

.artShowcase {
  transition: transform 0.5s ease;
}

.artShowcase:hover {
  transform: scale(1.1);
}

.socialImage {
  /* border-width: 1px;
  border-color: rgb(132, 0, 255); */
  width: 100%;
  height: auto;
  display: flex;
  flex: 1;
}
.projectShowcase {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-top: 5em;
  justify-content: space-evenly;
}
.socialContainer {
  /* border-width: 1px;
  border-color: rgb(0, 255, 42); */
  flex-direction: row;
  display: flex;
}
.carousel {
  height: 25%;

  /* background-color: aqua; */
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
